<!DOCTYPE html>
<html ng-app="submitExample">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>		
		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>		
		<script src="//cdn.rawgit.com/Artod/baascms/master/dist/baascms-1.0.0.min.js"></script>
		<script src="//cdn.rawgit.com/Artod/baascms/master/dist/baascms-adapter-parse-1.0.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    		
    		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    		
    		<script>
			Parse.initialize('Q3EGMjM10JF4nGb6rX6jglHJLWuCUG8N4XxFAlwS', 'NJjrfocNakjIVVCyXuwY6mTOu6kVTtBlzq2D3DF5');
			
			BaasCMS.init({
				baas: 'Parse'
			});
			
			
		</script>
		<script>
    angular.module('submitExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.userList = [];

    $scope.displayUser = function() {
        var query = new Parse.Query(Parse.User);
        
        var td1 = document.getElementById('td1');
        
        query.find({
            success: function(results) {
                $scope.userList = [];
                for(var i = 0; i < results.length; i++) {
                    $scope.userList.push({firstname:results[i].get("firstName"), lastname:results[i].get("lastName"), email:results[i].get("email")});
                    text = document.createTextNode("" + userList[i].username + " " + userList[i].firstname + " " + userList[i].lastname + " " + userList[i].email);
                    td1.appendChild(text);
                }
            }
            error: function(error) {
            
        }
        });
        
    };
    
    $scope.test = function() {
        alert("hello test");
    }    
        
    $scope.addUser = function(){
           
        var user = new Parse.User();
        user.set("username", $scope.username);
        user.set("password", $scope.password);
        user.set("email", $scope.email);

        user.set("firstName", $scope.firstname);
        user.set("lastName", $scope.lastname);
  		user.signUp(null, {
            success: function(user) {
                alert("User added!");
            },
            error: function(user, error) {
                alert("Error: " + error.code + " " + error.message);
            }
        });
      };
        
    }]);
    
</script>
</head>

<body >
	
<div ng-controller="ExampleController">

<div class="container">
<div class="jumbotron">
  <h1 class="text-center"> Audit </h2>
</div>	
</div>


<div class="container">
                    <h3>Username:</h3>
                    <input class="form-control" type="text" ng-model="username" />
                    <h3>Password:</h3>
                    <input class="form-control" type="password" ng-model="password" />
      				<h3>First Name:</h3>
      				<input class="form-control"  type="text"  placeholder="Example: Jordan" ng-model="firstname" name="name2" />
      				<h3>Last Name:</h3>
      				<input class="form-control"  type="text"  placeholder="Example: Tang" ng-model="lastname" />
    				<h3>Email:</h3>
      				<input class="form-control"  type="text"  placeholder="Example: jtang22@calpoly.edu" ng-model="email"/>

      				<p></p>
      				<input class="btn btn-primary btn-block" type="submit" id="addUser" value="Submit" ng-click="addUser()" />
                    <input class = "btn btn-primary" type="submit" id="displayUser" value="Display Users" ng-click="displayUser()" />
          		    <input class="btn btn-primary btn-block" type="submit" id="Test" value="Test" ng-click="test()" />

        <table>
            <tr>
                <td id="td1"></td>
            </tr>
        </table>
				</div>	
    </div>

</body>
</html>